<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demonstrate data collection</title>
    <link id="themecss" rel="stylesheet" type="text/css" href="//www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body class="theme-light" style = "background-color:#1F2933">
    <div class="container container-fluid col-10 mr-auto p-4">
        <div class="row m-3">
            <div class="card-deck">
                <div class="card text-center p-2">
                    <div class="card-header">Latest Tweet collected <i class="fa fa-twitter"></i></div>
                    <div class="card-body">
                        <i><h5 class="card-title" id="tweet_text"></h5></i>
                        <h6 class="card-text" id="tweet_id"></h6>
                        <h6 class="card-text" id="tweet_by"></h6>
                        <h6 class="card-text" id="tweet_at"></h6>
                    </div>
                    <div class="card-footer"><a href="#" class="btn btn-primary" onclick="location.reload()">Refresh</a></div>
                </div>
                <div class = "card text-center p-2">
                <div class="card-header"> Sentiment of the tweet</div>
                    <div id="chart"></div>
                </div>
            </div>
        </div>
        <div class = "row m-3">
        <div class="col-12">
         <div class="card-deck text-center">
                <div class="card p-2">
                    <h1 class="card-text" id="total_tweets"></h1>
                    <h6 class="card-text"> Tweets Collected </h6>
                </div>
                <div class="card p-2">
                <h1 class="card-text" id="total_locations"></h1>
                <h6 class="card-text"> Unique Locations </h6>
                </div>
                <div class="card p-2">
                <h1 class="card-text" id="total_users"></h1>
                <h6 class="card-text"> Different Users </h6>
                </div>
            </div>
        </div>
           
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        var uri = "http://127.0.0.1:8000/sentiment";
        $.get(uri, function (data) {
            
                var chart_data = new Array();
                $.each(data["chart_data"],function(index,value){
                    chart_data.push([value["name"],value["percent"]])
                });

                $(function () {
                    $("#tweet_text").html(data["tweet_data"]["text"])
                    $("#tweet_id").html(data["tweet_data"]["id"])
                    $("#tweet_by").html("Username : @" + data["tweet_data"]["tweeted_by"])
                    $("#tweet_at").html("Tweeted At : " + data["tweet_data"]["created_at"])
                    $("#total_tweets").html(data["total_tweets"])
                    $("#total_users").html(data["total_users"])
                    $("#total_locations").html(data["total_locations"])
                    $("#chart").shieldChart({
                        theme: "bootstrap",
                        seriesSettings: {
                            pie: {
                                enablePointSelection: true,
                                addToLegend: true,
                                dataPointText: {
                                    enabled: true,
                                    borderRadius: 4,
                                    borderWidth: 2,
                                    borderColor: "red"
                                }
                            }
                        },
                        chartLegend: {
                            align: "center",
                            borderRadius: 2,
                            borderWidth: 2,
                            verticalAlign: "top"
                        },               
                        tooltipSettings: {
                            customPointText: "{point.collectionAlias}: {point.y}"
                        },
                        exportOptions: {
                            image: false,
                            print: false
                        },
                        primaryHeader: {
                            text: ""
                        },
                        dataSeries: [{
                            seriesType: "pie",
                            collectionAlias: "Usage",
                            data: chart_data
                        }]
                    });
        });
        }); // end jQuery.get()            
    });
</script>
</html>